
:root {
  --font: "Syne";
  --font-heading-main: "gallery_modernregular";
  --font-heading: "Marcellus";
}

body {
  background-color: #0d0d0d !important;
  font-family: "Marcellus","Syne", sans-serif;
}

 :root {
  --black: #000000; 
  --white: #E3E4E6; 
  --white1: #e3e4e680;
  --green: #00E19A;
  --orange: #F65D1A;
  --purple: #8975FF; 
  --color-secondary: #F73E59; 
  --color-assets: #3d3d3d; 

      --gird-width: 50px;
    --gird-height: 50px;
    --line-color: #2c2c2c;
    --dot-color: #2c2c2c;
    --dot-size: 2px;
    --point-gap-width: calc(var(--gird-width)* 4);
    --point-gap-height: calc(var(--gird-height)* 4);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white1);
}

body { overflow-x: hidden;}


.green{color: var(--green);}
.orange{color: var(--orange);}
.purple{color: var(--purple);}
.white{color: var(--white);}

p {
  font: normal normal 300 18px/1.5 var(--font);
}
.revealer.revealed {
    opacity: 1;
    transform: translateY(0px);
}
.revealer {
    transition: transform 600ms cubic-bezier(0.8, 0, 0, 0.8);
    transform: translateY(20px);
    transition: all ease-out 0.6s;
    opacity: 0;
}


.main__heading h2 {
    font: normal normal 300 55px / 1.5 var(--font-heading-main);
    margin: 0;
}
.main__heading h2 span {
  font-weight: 500;
}

.main__heading h4{font: normal normal 300 35px / 1.5 var(--font);text-transform: capitalize;}

/*header*/
.header {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #ffffff14;
    border-radius: 50px;
    top: -100px;
    left: 50%;
    max-width: 870px;
    padding: 15px 40px;
    position: fixed;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999999;
    transition: all ease .5s;
}
.header-scrolled.header{top: 15px;}


.header .navbar {
    background-color: #0000;
    padding: 0;
}.header .navbar-nav {
    /*margin: 0 35px;*/
}.header .navbar .nav-link.active{color: var(--purple);font-weight: 700;}
.header .navbar .nav-link:hover {
    color: var(--green);
}
@media (max-width: 1399.98px) {
    .header .navbar .nav-link {
        font-size: 18px;
    }
}
.header .navbar .nav-link {
    color: var(--white);
    /*font-family: , Arial, sans-serif;*/
    font-size: 20px;
    padding: 0 35px 0 0;
    position: relative;
}
.header .navbar .nav-link:last-child{padding: 0;}
.menu-toggle, .main-navigation.toggled ul {
    display: block;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}@media (max-width: 1023px) {
    .menu-toggle {
        width: 28px;
        height: 10px;
        position: relative;
    }.navbar-toggler {
        padding: 0;
    }    .menu-toggle .bar {
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
        background: var(--orange);
        transition: all .3s cubic-bezier(.4,.01,.165,.99);
    }    .navbar-toggler .menu-toggle .bar.bar2 {
        -webkit-transform: translateY(6px) rotate(0deg);
        transform: translateY(6px) rotate(0deg);
    }.navbar-toggler .menu-toggle .bar.bar1 {
        -webkit-transform: translateY(0px) rotate(0deg);
        transform: translateY(0px) rotate(0deg);
    }  div#navmenu_box {
    display: none !important;
} 
div#navmenu_box.active{ display: block7 !important;}
div#navmenu_box nav#navmenu, .navbar-expand .navbar-nav {
           flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
}div#navmenu_box.open {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 76px;
    padding: 80px 50px 0;
    background: var(--color-assets);
    height: calc(100vh - 76px);
    left: 0;        border-radius: 30px;
    display: block !important;
}.navbar-toggler:focus ,.navbar-toggler{
    box-shadow: none !important;
}.header .navbar-nav {
    gap: 25px;
}.project_exp_box {
    min-height: 90px;
    width: 33%;
}

.header {    top: 15px!important;
           max-width: 90% !important;
        left: 0 !important;
        transform: translateX(5%);
        width: 90% !important;padding: 10px 20px;
}.logo_box img {
    width: 120px;
}    .navbar-toggler.active .menu-toggle .bar.bar1 {
        -webkit-transform: translateY(4px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }    .navbar-toggler.active .menu-toggle .bar.bar2 {
        -webkit-transform: translateY(3px) rotate(-45deg);
        transform: translateY(3px) rotate(-45deg);
    }
}
/*header*/





.hero__heading p.sub__heading span{
       font: normal normal 500 35px / 1 var(--font);
    display: inline-block;
    margin-left: -20px;
    margin-top: 19px;
}
.banner{overflow-x: hidden;}

.hero__heading p.sub__heading {    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;}
.hero__heading .hero_midle_heading h1{    
  background: rgb(107,255,208);
background: linear-gradient(150deg, rgba(107,255,208,1) 0%, rgba(6,227,157,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9rem;
    font-family: 'gallery_modernregular'; 
    display: flex;justify-content: center;}

    .hero__heading .hero_midle_heading h1 img {
    margin: 0 -30px 0 -50px;
}

.hero__heading .hero_midle_heading .animate__left.revealer.revealed {
    opacity: 1;
    /*transform: translate3d(0, 0, 0);*/
}
.hero__heading .hero_midle_heading .animate__left.revealer{
    /*transform: translate3d(-100%, 0, 0);*/
    display: block;
}


.hero__heading .hero_midle_heading h1 span.animate__right {
    margin-top: 135px;
}
.hero__heading p {
    color: rgb(227 228 230 / 50%);
    font: normal normal 300 20px / 1.5 var(--font);
    text-align: center;
}
 .hero_icon img {
height: 50px;
    width: auto;
    transition: all ease 0.5s;
    margin-top: 10px;
    -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
}

@keyframes scrolly {
  0% {
    transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

 .top__element:before, .top__element:after {
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    background-image: url(../img/top-element.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    /*opacity: .5;*/
}

.top__element:before {
  /*left: -129px;*/
} .top__element:after {    right: -19px;
    bottom: 0;
    transform: rotate(180deg);
}

.banner .container:before {
       position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    background-image: url(../img/hero-bg-shape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    /* opacity: .5; */
    top: 12%;
    left: 20%;
    right: 0;
}

/*Philosopy Box*/
.philosopy {
    background: #181818;
}
p.sub__heading {
  font: normal normal 400 20px/1.5 var(--font);
}

p.bottom_statement {
    font: normal normal 600 35px / 1.2 var(--font);
}

p.bottom_statement img {
    margin-top: -14px;
}
p.signature {
    font-family: 'Palmark' !important;font-size: 25px;
}
.project_exp_box {
    min-height: 90px;
}

.project_exp_box::before {
    position: absolute;
    top: -15%;
    left: -79%;
    width: 218%;
    height: 120%;
    transform: rotate(-19.838deg);
    opacity: 0.200000003;
    content: "";
    border: 1px solid #fff;
    border-radius: 50%;
}
.project_exp_box h4 {
    font-size: 4rem;text-align: left;
    font-family: 'gallery_modernregular';
    line-height: .5;
}
.project_exp_box p{    font-family: var(--font-heading);
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.1;}


.tp-hero-4-star-1 {
    position: absolute;
    top: -55px;
    left: 30px;
}.tp-zoom-in-out {
    -webkit-animation: tp_zoom_in_out 3s infinite linear;
    -moz-animation: tp_zoom_in_out 3s infinite linear;
    -ms-animation: tp_zoom_in_out 3s infinite linear;
    -o-animation: tp_zoom_in_out 3s infinite linear;
    animation: tp_zoom_in_out 3s infinite linear;
}
.tp-hero-4-star-2 {
    position: absolute;
    bottom:-51px;
    left: -65px;
}.tp-zoom-in-out-2 {
    -webkit-animation: tp_zoom_in_out_2 3s infinite linear;
    -moz-animation: tp_zoom_in_out_2 3s infinite linear;
    -ms-animation: tp_zoom_in_out_2 3s infinite linear;
    -o-animation: tp_zoom_in_out_2 3s infinite linear;
    animation: tp_zoom_in_out_2 3s infinite linear;
}
@keyframes tp_zoom_in_out_2{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes tp_zoom_in_out{
  0%{
    transform: scale(.5);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(.5);
  }
}

.tp-section-subtitle-3 svg {
    margin-right: 8px;
    transform: translateY(-2px);
    color: var(--green);
    animation: rotate2 3s linear infinite;
}

@keyframes rotate2{

0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

span.sub_heading {
    font: normal normal bold 20px / 1 var(--font);
}

.content_comn h3 {
    font: normal normal normal 40px / 1 var(--font-heading-main);
    margin: 15px 0 10px;
}
.content_comn p {
    margin: 0;
}
.content_comn {  transition: all ease 1s;  min-height: 322px;
    background: #191919;
    padding: 30px 40px;
    border-radius: 10px;position: relative;
}
.content_comn:hover{
    /*background: #040404;*/
}

.content_comn::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    content: " ";
    background-color: #040404;
    transition: width 0.5s;
    border-radius: 12px;
    z-index: -1;
}
.content_comn:hover::before {
    width: 100%;
}
.content_comn:hover {
    transform: perspective(500px) rotateX(-7deg) rotateY(19deg) scale3d(1.05, 1.05, 1.05);
    border: 1px solid var(--white1);
}

.content_comn:hover p,.content_comn:hover h3{color: var(--white);}


.statement_box {
    background: #121212;
    padding: 80px 0;
}
.statement_box h3 {
    font-family: var(--font-heading);
    font-size: 35px;
}


.inter_year a{text-decoration: none; font-style: normal; font-weight: 400; font-size: 16px; color: hsl(0deg 0% 100% / 40%); }
.inter_nme a{font-style: normal;text-decoration: none; font-weight: 400; font-size: 30px; color: hsl(0deg 0% 100% / 40%); line-height: 1.2;
    margin: 0 0 10px;
    display: block;}
.inter_img img {filter: brightness(0.1) invert(1); height: 30px;transition: all ease .5s; }

.interviews_list {position: relative;
    transition: all ease .5s;
    border-bottom: .5px solid var(--white1) !important;
    padding: 20px;
}
.interviews_list:before{content: "";position: absolute;width: 100%;height: 100%;bottom: -100%;left: 0;transition: all ease .5s;}

/*.interviews_list:hover:before ,*/
.interviews_list.slick-slide.slick-current.slick-active:before{    background: rgb(255 255 255 / 5%);bottom: 0;
}
.interviews_list:hover .inter_nme a,.interviews_list:hover .inter_year a ,
.interviews_list.slick-slide.slick-current.slick-active a{color: white;}
.interviews_list:hover .inter_img img{filter:none}
.inter_nme p {display: block; margin: 0;
    font: normal normal normal 20px / 1 var(--font-heading); color: var(--purple);margin:0}
/*.inter_nme {width: 70%; }*/

.number {
    font: normal normal normal 40px / 1.5 var(--font-heading);
    color: var(--white);
}
.interviews_list_slider button.slick-prev.slick-arrow,.interviews_list_slider button.slick-next.slick-arrow::before {display: none !important; opacity: 0;}
.interviews_list_slider button.slick-next.slick-arrow {
  font-size: 0;
    background-image: url(../img/arrow.svg) !important;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -100px;
    left: 0;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    width: 104px;
    height: 80px;
    background-position: center;
    background-size: 30px;    -webkit-animation: zoom 5s infinite;
    animation: zoom 5s infinite;
}

 @keyframes zoom{0% {transform: scale(1,0.9); } 50% {transform: scale(1.01,1.02); } 100% {transform: scale(1,0.9); } }
a,a:hover {
    text-decoration: none;
}
.interviews_list.slick-slide.slick-current.slick-active .inter_img img {
    filter: none;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.dim {
    background: #1A1A1A;
    border-radius: 8px;
    padding: 24px;
    margin: 30px 20px;
}


button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
 display: block !important;
    position: absolute;
    font-size: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: white;
    z-index: 999;
    right: 20px;
    bottom: -76px;
    border: 1px solid white;
}button.slick-next.slick-arrow::before {
  position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
    left: 25%;
    top: 29%;
    margin: auto;
    background: url(../img/arrow-rt.svg);
    background-size: 20px;
    background-repeat: no-repeat;
}

button.slick-prev.slick-arrow::before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 25px;
   left: 25%;
    top: 29%;
    margin: auto;
    background: url(../img/arrow-left.svg);
    background-size: 20px;
    background-repeat: no-repeat;
  /*transform: rotate(180deg);*/
}
button.slick-next.slick-arrow {
/*     left: 12%;
    bottom: 120px;
    margin: auto; */
}

button.slick-prev.slick-arrow {
      right: 79px;background: transparent;
}


.details_project a,.footer_inner a.btn ,.view_more_case_study_btn,.view_case a{
    border: 1px solid var(--white1);
    background-color: var(--white);
    border-radius: 50px;
    padding: 9px 18px;
    
    color: black; font: normal normal bold 16px/1.5 var(--font);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease .5s;
}

.details_project a:hover,.works__grid .card__grid:hover .visite-btn a,.download-btn a:hover,.footer_inner a.btn:hover,
.view_more_case_study_btn:hover,.view_case a:hover {border: 1px solid #fff;
    background-color: black;color: white;}

.details_project a img ,.download-btn a img,.view_more_case_study_btn img,.view_case a img{
    height: 20px;
    opacity: 1;
    width: 20px !important;
    color: black;
    margin-left: 10px;
    filter: brightness(.1);
     transition: all ease .5s;
}

.works__grid .card__grid:hover .visite-btn a img,.details_project a:hover img,.download-btn a:hover img,.view_more_case_study_btn:hover img,.view_case:hover a img{filter: none;}

span.projectCard_count {
    align-items: center;
    border: 1px solid var(--white1);
    border-radius: 50%;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;min-width: 50px;
    font: normal normal normal 20px / 1.5 var(--font-heading);
    color: var(--white);
    margin: 0 10px 0 0;
}
.details_project h2 {
    font: normal normal 300 40px / 1.1 var(--font-heading-main);
    margin: 0;
    color: var(--white);
}
.casestudy-slider {
    max-height: 700px;
}
.tp-casestudy-area:before, .tp-casestudy-area:after {
    position: absolute;
    top: 0;
    content: "";
    width: 130px;
    height: 100%;
    z-index: 2;
}

.tp-casestudy-area:before {left: 0;  
    background-position: left;
    backdrop-filter: grayscale(30%);
    background: linear-gradient(90deg, #080808 6.65%, rgb(0 0 0 / 78%) 50.56%, rgb(0 0 0 / 1%) 93.35%);}


.tp-casestudy-area:after {    right: 0;
    background-position: right;
    backdrop-filter: grayscale(30%);
    background: linear-gradient(268deg, #080808 6.65%, rgb(0 0 0 / 78%) 50.56%, rgb(0 0 0 / 1%) 93.35%);}

    .tp-casestudy-area {
    background: #080808;
}
.projectCard:hover .img_project img {
    filter: grayscale(0);
    transform: rotate(5deg);
}

.projectCard .img_project img {
    filter: grayscale(1);
    transition: all .3s ease;
    width: 100%;    max-height: 400px;
    object-fit: cover;
    object-position: top;width: 500px;
    border-radius: 6px;
}

.dim.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.08);
    border: 1px solid var(--white);    background: #0c0c0c;
}
.dim.slick-slide.slick-current.slick-active.slick-center .projectCard .img_project img {
    filter: grayscale(0);
}



/*=======Achievement CSS=======*/
div#achievement {position: relative;
    background: #121212;
}
.achiev__inner {
  margin-top: 3rem;
}
.slider__achiev .item {
  background: #1a1a1a;
  border: 1px solid var(--white1);
  padding: 40px 20px 30px;
  /*min-height: 430px;*/
  text-align: center;border-radius: 100px 100px 0 0;
  transition: all ease 1s;
}

.slider__achiev .item:hover {background: #030303; border: 1px solid #b1b1b1;transform: translateX(10px);}


.slider__achiev .item h5 a{
  color: var(--white);
    text-transform: capitalize;
    font: normal normal 300 30px / 1.1 var(--font-heading-main);
    margin: 0;
    letter-spacing: 1px;
}
.slider__achiev .item h5 span {
  font-weight: 400;
}
.slider__achiev .item p {
  font: normal normal 300 14px/20px var(--font);
  color: #fff;
  margin-bottom: 0;
  margin-top: 10px;
}
.slider__achiev .item img {
  width: 100%;
  max-height: 100px;
  /*object-fit: cover;*/
  margin: 1rem 0;
  border-radius: 8px;
}
.owl-nav {
  text-align: end;
}
button.owl-prev,
button.owl-next {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 0 !important;
  margin-left: 20px;
  transition: 0.6s all ease-out;
}
button.owl-prev.disabled,
button.owl-next.disabled {
  border: 1px solid #fff !important;
  background-color: transparent !important;
  transition: 0.6s all ease-out;
}
button.owl-next span,
button.owl-prev span {
  background-position: center !important;
  background-size: 20px !important;
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.6s all ease-out;
}
button.owl-next span {
  background: url(../img/arrow-rt.svg) no-repeat;
}
button.owl-prev span {
  background: url(../img/arrow-rt.svg) no-repeat;
  transform: rotate(180deg);
}
button.owl-next.disabled span {
  background: url(../img/arrow-lt.svg) no-repeat;
  transform: rotate(180deg);
}
button.owl-prev.disabled span {
  background: url(../img/arrow-lt.svg) no-repeat;
  transform: rotate(0deg);
}
/*footer*/
footer#contact {overflow: hidden;
    background: #020202;
}
.footer_inner h4 {
    font: normal normal 500 35px / 1.5 var(--font-heading);
    margin: 0;
    text-transform: capitalize;
}

.footer_inner a.btn img{height: 30px;}
.footer_links ul li img{    filter: brightness(0.01) invert(1);
    transition: all ease .5s;}
.footer_links ul li img:hover{filter: none;}


footer#contact:before, footer#contact:after {
       position: absolute;
    content: "";
    width: 30%;
    height: 50%;
    background-image: url(../img/footer_grid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /* z-index: -1; */
    /*opacity: .5;*/
}
footer#contact:before {
      left: -79px;
    top: -56px;
} footer#contact:after {    right: -79px;
    bottom: -56px;
    transform: rotate(180deg);
}




.perks {
  padding: 5rem 0;
}
.perks_main {
  margin-top: 5rem;
}
.perks_main .center_img img {
  width: 100%;
  animation: heroShapeFour1 7s linear infinite;
}
@keyframes heroShapeFour1 {
  0%,
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  35% {
    transform: translate3d(0, 10px, 0) rotateZ(0.01deg);
  }
  50% {
  }
  65% {
    transform: translate3d(0, -10px, 0) rotateZ(0.01deg);
  }
}
.perks_main .content_perks {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.perks_main .content_perks .comn {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perks_main .content_perks .comn p {
      text-align: center;
    color: var(--black);
    font: normal normal bold 20px / 1.2 var(--font-heading);
    margin: 0;
}
.perks_main .content_perks .crd_perk {
  background: #d5befb;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.11), 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: rotate(0.47deg);
  width: 250px;
  padding: 1rem;
  position: relative;
  right: -60px;
  /*margin-left: auto;*/
}
/* .perks_main .content_perks .crd_perk::after {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 0;
  content: ' ';
  background-image: url(../img/Education_Certificate.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
.perks_main .content_perks .crd_perk::before {
  position: absolute;
  width: 130px;
  height: 90px;
  right: -60px;
  top: -26px;
  content: " ";
  background-image: url(../img/crd_prk.svg);
  background-repeat: no-repeat;
  background-size: 130px;
}
.perks_main .content_perks .crd_perk_2 {
  background: #ffd8ef;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.11), 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: rotate(-8.86deg);
  width: 250px;
  padding: 1rem;
  position: relative;
  right: 0px;
  /*margin-left: auto;*/
}
.perks_main .content_perks .crd_perk_2::before {
  position: absolute;
  width: 130px;
  height: 35px;
  right: -60px;
  bottom: -20px;
  content: " ";
  background-image: url(../img/crd_prk_2.svg);
  background-repeat: no-repeat;
  background-size: 130px;
  transform: rotate(8.86deg);
}
.perks_main .content_perks .crd_perk_3 {
  background: #bde2fc;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.11), 0px 1px 2px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 1rem;
  position: relative;
  right: 0px;
  margin-left: auto;
}
.perks_main .content_perks .crd_perk_3::before {
  position: absolute;
  width: 115px;
  height: 55px;
  right: -70px;
  top: 15px;
  content: " ";
  background-image: url(../img/crd_prk_3.svg);
  background-repeat: no-repeat;
  background-size: 106px;
}
.perks_main .content_perks .crd_perk_4 {
  background: #bfebd0;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.11), 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: rotate(0.81deg);
  width: 250px;
  padding: 1rem;
  position: relative;
  left: 0px;
  /*margin-right: auto;*/
}
.perks_main .content_perks .crd_perk_4::before {
  position: absolute;
  width: 180px;
  height: 72px;
  bottom: -32px;
  left: -105px;
  content: " ";
  background-image: url(../img/crd_prk_4.svg);
  background-repeat: no-repeat;
  background-size: 180px;
}
.perks_main .content_perks .crd_perk_5 {
  background: #fbedb9;
  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.11), 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: rotate(6.03deg);
  width: 250px;
  padding: 1rem;
  position: relative;
  left: 0px;
  /*margin-right: auto;*/
  bottom: 80px;
  -webkit-animation: rotation1 5s infinite linear;
  animation: rotation1 5s infinite linear;
}
@-webkit-keyframes rotation1 {
  /*from {-webkit-transform: rotate(6.03deg);}*/
  /*to {-webkit-transform: rotate(3.03deg);}*/

  0%,
  100% {
    transform: rotate(6.03deg);
  }
  50% {
    transform: rotate(3.03deg);
  }
}

.perks_main .content_perks .crd_perk_5::before {
  position: absolute;
  width: 130px;
  height: 55px;
  left: -78px;
  bottom: -18px;
  content: " ";
  background-image: url(../img/crd_prk_5.svg);
  background-repeat: no-repeat;
  background-size: 130px;
  transform: rotate(-6.03deg);
}

 @keyframes dash {
        from {
            stroke-dashoffset: 1600;
        }

        to {
            stroke-dashoffset: 0;
        }
    }


    .philosopy_curve {
    animation: dash 3s linear forwards;
}
 .path {
    stroke-dasharray: 1600;
    stroke-dashoffset: 1600;
}


/*About us*/
.about_bnr .hero__heading .hero_midle_heading h1 {
    z-index: 9999;
    font-size: 7rem;
    line-height: 1;
    position: relative;
}
.about_bnr .hero__heading p.sub__heading span {
    font-size: 20px;
}
.about_bnr .hero__heading .hero_midle_heading h1 span {z-index: 9;}

.about_bnr .hero__heading .hero_midle_heading h1 {background: transparent;
    -webkit-text-fill-color: initial;
    color: #06e39d;
}

.main-marq {
    position: relative;
    padding: 0;
}.slide-har.st1 .box {
    position: relative;
    /*-webkit-animation: slide-har 80s linear infinite;
    animation: slide-har 80s linear infinite;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*background: #2e2d2d6e;*/
    padding: 5px 0;
/* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  animation: marquee 25s linear infinite;
 /* -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;*/
}


@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}


/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.main-marq .box .item {
    padding: 0 20px;
}
.main-marq.md-text .box .item h4 {
        white-space: nowrap;
    color: var(--white);margin: 0;
    -webkit-text-stroke: 0 !important;
    font: normal normal normal 26px / 1 var(--font-heading-main);
}
.main-marq .box .item h4 .icon {
   display: inline-block;
    margin-left: 50px !important;
}

.slide-har.st1 {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
    overflow: hidden;
}

@keyframes slide-har {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


/*casestudy-slider*/

.study_bnr {
  background-color: #ffe299;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: clip;
  z-index: 0;
}
.trangle_animation {
    z-index: -1;
}
.study_bnr .main-heading h1 {
  text-align: left;
  font: normal normal 700 45px/50px var(--font);
  letter-spacing: 2.16px;
  color: #1f0b3c;
  text-transform: capitalize;
  opacity: 1;
  margin: 0.5em 0;
}
.study_bnr h1 span {
  text-shadow: 3px 0px 0 #fe007b;
}
.study_bnr p {
  text-align: left;
  font: normal normal 400 16px/25px var(--font);
  letter-spacing: 0.72px;
  color: #250d48;
  opacity: 1;
  width: 65%;
}
.study_bnr .btn_case {
  background-color: #fe007b;
  padding: 12px 30px;
  color: #fff;
}
.study_type {
  padding: 7rem 0 2rem;
}
.study_type .first_bg,
.study_type .second_bg,
.study_type .third_bg,
.study_type .fourth_bg,
.study_type .fifth_bg,
.study_type .sixth_bg {
  min-height: 415px;
  width: 70%;
  margin: 4rem auto;
  position: relative;
  margin-bottom: 12rem;
}
.study_type .sixth_bg {
  margin-bottom: 2rem;
}
.study_type .first_bg {
  background-color: #ffe299;
}
.study_type .second_bg {
  background-color: #e7d6ff;
}
.study_type .third_bg {
  background-color: #fe007b54;
}
.study_type .fourth_bg {
  background-color: #ffe299;
}
.study_type .fifth_bg {
  background-color: #e7d6ff;
}
.study_type .sixth_bg {
  background-color: #ffabd4;
}
.study_type .type_first {
  background-color: #ffcce5;
  min-height: 405px;
  width: 305px;
  position: absolute;
  left: -100px;
  top: -70px;
  border-radius: 20px;
}
.study_type .type_second {
  background-color: #ccf6ff;
  min-height: 405px;
  width: 305px;
  position: absolute;
  right: -100px;
  bottom: -70px;
  border-radius: 20px;
}
.study_type .content {
  padding: 2rem 0.5rem;
}
.study_type .type_first .content h3,
.study_type .type_second .content_2 h3 {
  text-align: center;
  font: normal normal bold 18px/50px var(--font);
  letter-spacing: 0px;
  color: #1f0b3c;
  text-transform: capitalize;
  opacity: 1;
}
.study_type .type_first .content p,
.study_type .type_second .content_2 p {
  text-align: center;
  font: normal normal 400 12px/22px var(--font);
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.84;
}
.study_type .type_first img {
  width: 110%;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.study_type .type_second img {
  width: 114%;
  top: -10px;
}
.study_type .type_second .content_2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3rem 0.5rem;
}
.study_type .second_bg .type_first img {
  width: 75%;
}
.study_type .second_bg .type_second img {
  width: 105%;
  top: 0;
}
.study_type .third_bg .type_first img,
.study_type .fifth_bg .type_first img {
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
@-webkit-keyframes scroll-inner {
  from {
    margin-top: 80%;
  }
  to {
    margin-top: 100%;
  }
}
@keyframes scroll-inner {
  from {
    margin-top: 80%;
  }
  to {
    margin-top: 100%;
  }
}
@-webkit-keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
@keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
.mouse-container {
  position: relative;
  display: block;
  height: 10vh;
}
.maouse_main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  width: 100px;
  height: 30px;
  content: " ";
  margin: auto;
}
.mouse-container .mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 25px;
  height: 40px;
  border: solid 2px #fff;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s;
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #ffffff5e;
}
.mouse-container span.scroll-down {
  display: block;
  width: 2px;
  height: 10px;
  background: #fff; /* border-radius:50%; */
  margin: 20% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}




/*newcase*/

.hero__banner {
  /* background-image: linear-gradient(to bottom, #0a0a0a 20%, #141414); */
  background-color: var(--color-primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  position: relative;
  z-index: 0;
}

.hero__banner .content__bx {
  max-width: 75%;
  margin: auto;
  overflow: hidden;
}

.hero__banner .content__bx h1 {
  font: normal normal 500 72px/86px var(--font);
  color: #fff;
  text-align: center;
}

.hero__banner .content__bx h1 span {
  font-weight: 600;
  display: block;
}

.hero__banner .content__bx p {
  font: normal normal 400 16px/150% var(--font);
  color: #fff;
  text-align: center;
  margin: 16px 0 42px;
}

.hero__banner .content__bx .btn__grp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.hero__banner .marquee {
  height: 40px;
  width: 1740px;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}
.hero__banner .brand__logo {
  display: block;
  width: 200%;
  position: absolute;
  animation: marquee 25s linear infinite;
}
.hero__banner .brand__logo .slider__track {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__banner .brand__logo .item img {
  width: auto;
  height: 38px;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.hero__banner .background-animation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero__banner .grid-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__banner .ba-grid {
  position: relative;
  z-index: 1;
}

.hero__banner .ba-grid:before,
.hero__banner .ba-grid:after,
.hero__banner .inner:before,
.hero__banner .inner:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: overlay;
}

.hero__banner .ba-grid:before {
  background-image: linear-gradient(var(--line-color), transparent 1px),
    linear-gradient(to right, var(--line-color), transparent 1px);
  background-size: 100% var(--gird-height), var(--gird-width) 100%;
}

.hero__banner .ba-grid:after {
  background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2)
    calc(var(--point-gap-height) / 2);
}

.hero__banner .inner:before,
.hero__banner .inner:after {
  background-image: radial-gradient(
    var(--dot-color) var(--dot-size),
    transparent var(--dot-size)
  );
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2)
    calc(var(--point-gap-height) / 2);
}

.hero__banner .inner:after {
  transform: scale(1.1, 1.1);
}

.hero__banner .inner:before {
  /* background-image: radial-gradient(var(--dot-color) calc(var(--dot-size) + 1px), transparent calc(var(--dot-size) + 1px)); */
  transform: scale(1.2, 1.2);
}

.hero__banner .anim:after {
  animation: 6.4s linear move infinite;
}

.hero__banner .anim .inner:after {    transform: rotate3d(1, 1, 1, 45deg);
  animation: 3.2s linear move infinite;
}

.hero__banner .anim .inner:before {    transform: rotate3d(1, 1, 1, -45deg);
  animation: 1.6s linear move infinite;
}

@keyframes move {
  0% {
    background-position: calc(var(--point-gap-width) / 2)
      calc(var(--point-gap-height) / 2);
  }
  100% {
    background-position: calc(var(--point-gap-width) / 2)
      calc(var(--point-gap-height) / 2 * -1);
  }
}


/*projects*/

.projects {
  margin-top: 4rem;
}
.projects .project_common h3 {
  text-align: left;
  font: normal normal bold 30px/35px var(--font);
  letter-spacing: 0px;
  color: var(--green);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.projects .project_common p {
  text-align: left;
  font: normal normal normal 16px/1.5 var(--font);
  color: var(--white1);
}
.projects .project_common ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.projects .project_common ul li {
  margin-right: 30px;
  text-align: left;
  font: normal normal 500 14px/30px var(--font);
  letter-spacing: 0px;
   color: var(--purple);
  text-transform: capitalize;
}
.projects .project_common ul li:first-child {
    list-style: none;
}
.projects .project_common ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1400px) {
  .projects .project_common ul {
    width: 108%;
  }
}

.projects .project_common {
  border-radius: 36px;
  opacity: 1; /* padding: 3.5rem; */
  margin-bottom: 4rem; /* position: relative; */
  max-height: 520px;
}
.idea_content {
  z-index: 1;
}
.projects .project_common .main_sec {
  padding: 4.7rem 0 4.7rem 3.5rem;
}
.projects .project_common .main_sec_2 {
  padding: 4rem 3.5rem 4rem 0;
}
.project_common .projects_img {
  padding-right: 2rem;
}
.projects .project_13 .projects_img img {
    height: 435px;
    margin: 25px 0 -25px -30px;}
.projects .project_common .consumer_crd {
  border-radius: 24px;
  width: fit-content;
  padding: 8px 20px;
  margin-bottom: 2rem;  background: var(--black);
  width: fit-content;
}
.projects .project_common .consumer_crd p {
  text-align: center;
  font: normal normal 400 14px/14px var(--font);
  letter-spacing: 0px;
  color: #ffffff;margin:0;
}
.projects .project_common .view_case .btn_case {
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font: normal normal 400 14px/14px var(--font);
  letter-spacing: 3.3px;
  color: #ffffff;
  text-transform: uppercase;
}
.projects .project_common .view_case .btn_case:hover {
  color: #fff;
}
.projects .project_common .view_case {
  position: relative;
}
.projects .project_common .view_case::before {
  position: absolute;
  content: " ";
  width: 208px;
  height: 86%;
  left: 2px;
  bottom: 2px;
  border-radius: 5px;
  z-index: -1;
}
.projects .project_first {
     background: #1f1c1c;
}

.projects .project_second {
 background: #1a1616;
}
 
  

.projects .btn_ex {
  text-align: center; /*background-color: #250d48;*/
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  transition: 0.5s all ease;
}
.projects .btn_ex .btn_explore {
  background: #fe007b;
  border-radius: 5px;
  border: 1px solid #fe007b;
  text-align: center;
  font: normal normal 400 18px/20px var(--font);
  letter-spacing: 3.21px;
  color: #ffffff;
  padding: 15px 40px;
  transition: 0.5s all ease;
}.projects .project_12 .projects_img_6 img {
    height: 409px;
    margin: -40px 0 -50px 40px;
}
body.case_stydy_box .header {
    top: 15px;
}
@keyframes animateBackground {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-396px,0);
  }
}


@media only screen and (min-width: 900px) {
.company_name {
    width: 45%;
}
}




@media only screen and (min-width: 1400px) {
/*.casestudy-slider {
    max-height: 700px;
}*/
button.slick-prev.slick-arrow, button.slick-next.slick-arrow {bottom: -127px;}
.header {max-width: 1076px;}
.main__heading h4 {
    font: normal normal 300 40px / 1.5 var(--font);
}p {
    font: normal normal 300 20px / 1.5 var(--font);
}.main__heading h2 {
    font: normal normal 300 60px / 1.5 var(--font-heading-main);
}.project_exp_box p {
    font-size: 2rem;
    line-height: 1.4;
}.project_exp_box h4 {
    font-size: 6rem;}
.philosopy p.sub__heading {
    font: normal normal 400 25px / 1.5 var(--font);
}.hero__heading .hero_midle_heading h1 { font-size: 11rem;}
.hero__heading p {
    font: normal normal 300 26px / 1.5 var(--font);
}
p.signature {
    font-size: 31px;
}
.footer_inner h4 {
    font: normal normal 500 45px / 1.5 var(--font-heading);}

}

@media only screen and (min-width: 1400px){
.hero__heading .hero_midle_heading h1 { font-size: 11rem;}
}




@media only screen and (min-width: 900px) and (max-width: 1024px) {
.hero__heading .hero_midle_heading h1 {font-size: 7rem;}.banner .container:before {left: 10%;}button.slick-prev.slick-arrow { right: 8%;}
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
.hero__heading .hero_midle_heading h1 img{width: 350px;margin: 0 -30px 0 -65px;}
p.bottom_statement { font: normal normal 600 30px / 1.2 var(--font);}
.main__heading h4 { font: normal normal 300 30px / 1.5 var(--font);}
.main__heading h2 {font: normal normal 300 45px / 1.5 var(--font-heading-main);}
.hero__heading .hero_midle_heading h1 {font-size: 5rem;}
.banner .container:before {left: 5%;}.project_exp_box::before {left: -50%; width: 191%;}
button.slick-prev.slick-arrow {right: 11%;}
.philosopy {
    margin-top: 0 !important;
}

}



@media (max-width: 1024px){.tp-about-4-shape-2 {
  /*  position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 1 !important;
    transform: none !important;*/display: none;
}
.tp-casestudy-area:before, .tp-casestudy-area:after {
   display: none;
}
.statement_box img{width: 100%;}
}


@media (max-width: 899px){
.hero__heading {
    margin: 80px 0 0;
}
.dim.slick-slide.slick-current.slick-active .projectCard .img_project img {
    filter: grayscale(0);
} .projects .project_common .projects_img img,.projects .project_common .projects_img_6 img{width: 100%;
        height: auto !important;
        margin: auto !important;
    }.projects .project_common {
    max-height: max-content !important;
}.projects .project_common .main_sec,.projects .project_common .main_sec_2 {
        padding: 2rem;
    }.projects .project_common h3 {
    font: normal normal bold 25px / 1.3 var(--font);}
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .projects .project_common .main_sec_2 {
        padding: 2rem;
    }
  .perks_main .content_perks .crd_perk {
    right: -30px;
  }
  .perks_main .center_img {
    margin: 2rem 0;
  }
  .perks_main .content_perks .crd_perk::before {
    width: 100px;
    right: -50px;
    background-size: 100px;
  }
  .perks_main .content_perks .crd_perk_2::before {
    width: 110px;
    height: 35px;
    right: -40px;
    background-size: 110px;
  }
  .perks_main .content_perks .crd_perk_3::before {
    width: 95px;
    right: -45px;
    top: 12px;
    background-size: 95px;
  }
  .perks_main .content_perks .crd_perk_4::before {
    width: 120px;
    left: -75px;
    background-size: 120px;
  }
  .perks_main .content_perks .crd_perk_5::before {
    width: 100px;
    left: -35px;
    bottom: -30px;
    background-size: 100px;
  }
.dim {
    min-height: 630px !important;
}
}



@media (max-width: 767px){

  .perks_main .content_perks .crd_perk,
  .perks_main .content_perks .crd_perk_2,
  .perks_main .content_perks .crd_perk_3,
  .perks_main .content_perks .crd_perk_4,
  .perks_main .content_perks .crd_perk_5 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-height: 70px;
    padding: 12px;
    margin-bottom: 2rem;
    animation: unset;
  }
  .perks_main .content_perks .crd_perk::before,
  .perks_main .content_perks .crd_perk_2::before,
  .perks_main .content_perks .crd_perk_3::before,
  .perks_main .content_perks .crd_perk_4::before,
  .perks_main .content_perks .crd_perk_5::before {
    display: none;
    width: 50px;
    background-size: 50px;
  }
  .perks_main .content_perks .crd_perk_5 {
    margin-bottom: 0;
    transform: rotate(1.89deg);
  }
  .perks_main .content_perks .crd_perk_2 {
    transform: rotate(1.08deg);
  }
  .perks_main .content_perks .crd_perk_3 {
    transform: rotate(-1.15deg);
  }
  .perks_main .content_perks .crd_perk_4::before {
    height: 20px;
    bottom: -2px;
    left: -35px;
  }
  .perks_main .content_perks .crd_perk::before {
    height: 35px;
    right: -20px;
    top: -10px;
  }
  .perks_main .content_perks .crd_perk_2::before {
    height: 20px;
    right: -20px;
    bottom: -10px;
  }
  .perks_main .content_perks .crd_perk_3::before {
    height: 27px;
    right: -25px;
    top: 5px;
  }
  .perks_main .content_perks .crd_perk_5::before {
    height: 20px;
    left: -40px;
    bottom: -5px;
  }
  .perks_main .content_perks .crd_perk {
    right: 0;
  }
  .perks_main .mini_scr {
    /*display: none;*/        order: 1;
  }
  .perks_main {
    margin-top: 3rem;
  }
  .perks_main .content_perks {
    min-height: 180px;
  }
  .perks_main .content_perks .crd_perk_5 {
    bottom: 12px;
  }
  .perks_main .center_img {
    margin: 1rem 0;
  }
  .perks,
  .technologies {
    padding: 3rem 0;
  }
.hero__heading .hero_midle_heading h1,.about_bnr .hero__heading .hero_midle_heading h1 { font-size: 3rem;justify-content: center;}
.hero__heading .hero_midle_heading h1 img {
    width: 170px;height: auto;
}
.project_exp_box p {font-size: 0.9rem;}
.project_exp_box h4 {font-size: 2.5rem;}
.statement_box h3 {
    font-size: 25px;
}
svg.philosopy_img {
    height: 300px;
}p.bottom_statement img {
    width: 66px;        margin: 0;
}
p.bottom_statement {
    font: normal normal 600 22px / 1.5 var(--font);
}p.signature {
    font-size: 20px;
}.hero__heading p {
    font: normal normal 300 16px / 1.5 var(--font);
}.banner .container:before {
    top: 28%;
    left: 5%;
    right: 0;
}
.main__heading h2 {
    font: normal normal 300 35px / 1.5 var(--font-heading-main);
}span.sub_heading {
    font: normal normal bold 14px / 1 var(--font);
}.tp-service-area {
    position: relative;
}.content_comn h3 {
    font: normal normal normal 30px / 1 var(--font-heading-main);
}
.content_comn:hover {
    transform: perspective(500px) rotateX(-6deg) rotateY(3deg) scale3d(1.01, 1.01, 1.01) !important;
}.inter_nme p {
    font: normal normal normal 18px / 1 var(--font-heading);
}
.inter_nme a {
    font-size: 25px;}
.inter_year a {
    font-size: 14px;}
.inter_img img {
    height: 20px;}.number {
    font: normal normal normal 22px / 1.5 var(--font-heading);
}.interviews_list>div {
    gap: 10px;
}button.slick-prev.slick-arrow {
    right: 24%;
}.main__heading h4 {
    font: normal normal 300 22px / 1.5 var(--font);
}.main__heading h4 img{    height: 30px;}
.footer_inner h4 {
    font: normal normal 500 25px / 1.5 var(--font-heading);}
.footer_inner h4 img {
    height: 100px;
}

.interviews_list_slider .slick-list {
    padding: 20px 0 0;
}
.banner,.philosopy {
    overflow: hidden;
}.footer_links ul li img {
    width: 25px;
}
.project_exp_box {
    width: 33%;
}.project_exp_box.position-relative.project_exp_box1 {
    margin-left: 22px;
    width: 20%;
}.project_exp_box::before {
    left: -43%;
        width: 131px;
        height: 90%;}
.details_project h2 {
    font: normal normal 300 25px / 1.1 var(--font-heading-main);
}
span.projectCard_count {
    height: 40px;
    width: 40px;
    min-width: 40px;
}
p {
    font: normal normal 300 16px / 1.5 var(--font);
}.casestudy-slider {    margin-top: 0 !important;
    max-height: max-content;    margin-bottom: 0 !important;
}button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    bottom: 0;}.slider__achiev .item h5 a {
    font: normal normal 300 23px / 1.1 var(--font-heading-main);}.footer_links ul.list-unstyled {
    flex-wrap: wrap;gap: 5px !important;
}.about_bnr .hero__heading .hero_midle_heading h1 img.animate__tilt {        height: 250px;
    object-fit: contain;}
  .about_bnr  .hero__heading .hero_midle_heading h1 span.animate__right {
    margin-top: 145px;
}.main-marq.md-text .box .item h4 {
    font: normal normal normal 20px / 1 var(--font-heading-main);
}.hero__heading p.sub__heading span {
    font: normal normal 500 25px / 1 var(--font);}.hero__heading p.sub__heading img {
    height: 75px;
}.statement_box .myself_img {
    width: 100px;
    margin: 0 0 30px;
}.statement_box h3.myself_h3 {
    font-size: 20px;
    line-height: 1.5;
}.interviews_list_slider .slick-list.draggable,.interviews_list_slider  .slick-track {
    overflow: hidden;
    /*transform: none !important;*/
}    .projects .project_common ul {
        flex-wrap: wrap;
        padding: 0px 0 0 20px;
    }    .projects .project_common ul li:first-child {
        list-style: unset;
    }.project_common .projects_img,.projects_img_6{padding: 0 2rem 2rem;
    }
}



@media (max-width: 480px){
    .hero__heading .hero_midle_heading h1 img {
        width: 150px;
    }    .hero__heading .hero_midle_heading h1,.about_bnr .hero__heading .hero_midle_heading h1 {
        font-size: 2.60rem;
    }    .main__heading h4 img {
        height: 26px;
    }

}